{% extends "layout.njk" %}


{% block content %}
    <div class="box-intro container">
        <div class="text">
            <h4>As melhores receitas</h4>
            <p>Aprenda a construir os melhores pratos<br/>com receitas criadas por profissionais<br/>do mundo inteiro.</p>
        </div>

        <div class="chef-image">
            <img src="/images/chef.png" alt="Nosso Fanfic do Chef">
        </div>
    </div>

    <div class="box-top-recipes container">
        <h3>Mais Acessadas</h3>
        <div class="cards">
            {% for recipe in recipes %}
                <div class="card" onclick= "ChangePath({{recipes.indexOf(recipe)}})">
                    <div class="recipes-image">
                        <img src="{{recipe.recipe_url}}" alt="Imagem de {{recipe.title}}">
                    </div>

                    <div class="recipes-info">
                        <h1>{{recipe.title}}</h1>
                        <p>{{recipe.author}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}