{% extends "layout.njk" %}


{% block content %}
    <div class="box-top-recipes container">
        <div class="cards">
            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipes-image">
                    <img src="/images/pizza.png" alt="">
                </div>

                <div class="recipes-info">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector(".recipes").classList.add("active")
    </script>

{% endblock content %}