{% extends "adminLayout.njk" %}


{% block content %}

    <form action="/admin/recipes" method="POST" class="container">
        <div class="head">
            <h2>Criando receita</h2>
            <button type="submit" class="button">Salvar receitas</button>
        </div>
        
        {% include "recipes/fields.njk" %}
    </form>

    <script>
        document.querySelector(".recipes").classList.add("active")
    </script>

{% endblock content %}