{% extends "adminLayout.njk" %}


{% block content %}

    <form action="" method="POST" class="container myform">
        <div class="head">
            <h2>Editando receita</h2>

            <div class="buttons">
                <button type="submit" class="button delete" onclick="FormAction('delete','recipes')">Deletar</button>
                <button type="submit" class="button" onclick="FormAction('save','recipes')">Salvar receitas</button>
            </div>   
        </div>
        
        {% include "recipes/fields.njk" %}

        <input type="hidden" name="id" value="{{recipe.id}}">
    </form>

    <script>
        document.querySelector(".recipes").classList.add("active")
    </script>

{% endblock content %}