{% extends "adminLayout.njk" %}


{% block content %}
    <div class="list container">
        <h1>Gerenciar receitas</h1>
        <div class="cards">
            {% for recipe in recipes %}
                <div class="card">
                    <div class="image">
                        <img src="{{recipe.image}}" alt="Foto da receita {{recipe.title}}">
                    </div>
                    <div class="info">
                        <h2>{{recipe.title}}</h2>
                        <p>por {% for chef in chefs %}{% if recipe.chef_id == chef.id %}{{chef.name}}{% endif %}{% endfor %}</p>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.querySelector(".recipes").classList.add("active")
    </script>

{% endblock content %}