{% extends "adminLayout.njk" %}


{% block content %}
   <div class="details container">
       <div class="action">
           <h1>Receita: {{recipe.title}}</h1>
           <a href="/admin/recipes/{{recipe.id}}/edit" class="button">Editar receita</a>
       </div>

       <div class="image">
           <img src="{{recipe.recipe_url}}" alt="Imagem da receita {{recipe.title}}">
       </div>

       <div class="title">
           <h1>{{recipe.title}}</h1>
           <p>por {{recipe.author}}</p>
       </div>

       <div class="detail-info">
           <div class="ingredients-info">
               <div class="Show-Not">
                    <h2>Ingredientes</h2>
               </div>
               
               <ul>
                   {% for ingredient in recipe.ingredients %}
                        <li>{{ingredient}}</li>
                   {% endfor %}
               </ul>
           </div>

           <div class="preparation">
               <div class="Show-Not">
                    <h2>Modo de preparo</h2>
               </div>
               <ul>
                   {% for step in recipe.preparation %}
                        <li>{{step}}</li>
                   {% endfor %}
               </ul>
           </div>
           
            {% if recipe.information %}
                <div class="add-info">
                    <div class="Show-Not">
                        <h2>Informações adicionais</h2>
                    </div>
                    <p>{{recipe.information}}</p>
                </div>
           {% endif %}
       </div>
   </div>

{% endblock content %}