header.admin {
    background-color: #111111;

    padding: 25px;
}

header .header-admin.container {
    display: grid;
    grid-template-columns: 130px 140px;
    
}

nav.admin.primary ul li:before {
    content: none;
    margin-right: none;
}

nav.admin.primary ul a {
    color: #999999;

    font-size: 15px;
    font-weight: bold;

    text-transform: uppercase;
}

nav.admin.primary ul li a.active {
    color: white;
}