 <header class="admin">
     <div class="header-admin container">
         <a href="/">
            <span><img src="/images/logoAdmin.png" alt="Logo Foodfy"></span>
         </a>

         <nav class="admin primary">
            <ul>
                <li>
                    <a href="/admin/recipes" class="recipes" >Receitas</a>
                </li>
                
                <li>
                    <a href="/admin/chefs" class="chefs" >Chefs</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

