 <header>
     <div class="header container">
         <a href="/">
            <span><img src="/images/logo.png" alt="Logo Foodfy"></span>
         </a>
     

        <nav class="primary">
            <ul>
                <li>
                    <a href="/about" class="about" >Sobre</a>
                </li>
                
                <li>
                    <a href="/recipes" class="recipes" >Receitas</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

